{
	"bracketSameLine": false,
	"bracketSpacing": true,
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "ignore",
	"jsxSingleQuote": false,
	"quoteProps": "consistent",
	"semi": false,
	"singleAttributePerLine": true,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "none",
	"useTabs": true
}
