@mixin outputAnimations(
	$name,
	$duration: 0.75s,
	$easing: ease-in-out,
	$direction: normal
) {
	animation: $name $easing $duration $direction forwards;
	-moz-animation: $name $easing $duration $direction forwards;
	-webkit-animation: $name $easing $duration $direction forwards;
}
