@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;600;700&family=Hind+Madurai:wght@600&display=swap');

$gudea: 'Gudea', sans-serif;
$hind-madurai: 'Hind Madurai', sans-serif;
$mukta: 'Mukta', sans-serif;

$tablet: 30rem;
$tablet-l: 37.5rem;
$laptop: 75rem;
$desktop: 120rem;
$widescreen: 160rem;
