@use '@styles/colors' as color;
@use '@styles/mixins' as mix;

@use '@styles/themes/clackd' as clackd;

@keyframes activeSlideOpacity {
	0% {
		opacity: 0.35;
	}

	35% {
		opacity: 0.5;
	}

	70% {
		opacity: 0.85;
	}

	100% {
		opacity: 1;
	}
}

@keyframes adjacentSlideOpacity {
	0% {
		opacity: 0.875;
	}

	35% {
		opacity: 0.65;
	}

	80% {
		opacity: 0.5;
	}

	100% {
		opacity: 0.5;
	}
}

@keyframes inactiveSlideOpacity {
	0% {
		opacity: 0.65;
	}

	35% {
		opacity: 0.4;
	}

	60% {
		opacity: 0.4;
	}

	100% {
		opacity: 0.25;
	}
}

@keyframes activeSlideOnChange {
	0% {
		box-shadow: 0 0.75rem 1.375rem -0.25rem rgba(clackd.$brand-black, 0),
			0 0.5rem 1rem -0.125rem rgba(clackd.$brand-black, 0),
			0.125rem 0.125rem 0.25em -0.125rem rgba(clackd.$brand-black, 0),
			0 0 1.875rem -0.5rem rgba(clackd.$brand-black, 0);
		height: 85%;
		transform: scale(0.975);
	}

	// 10% {
	// 	height: 90%;
	// }

	25% {
		// height: 100%;
		transform: scale(0.975);
	}

	37% {
		height: 100%;
	}

	50% {
		box-shadow: rgba(clackd.$brand-black, 0) 0 0.625rem 0.9375rem -0.25rem,
			rgba(clackd.$brand-black, 0) 0 0.25rem 0.375rem -0.125rem;
		height: 100%;
		transform: scale(1.0125);
	}

	75% {
		height: 100%;
		transform: scale(1.025);
	}

	100% {
		box-shadow: 0 0.75rem 1.25rem -0.375rem rgba(clackd.$brand-black, 0.1),
			0 0.5rem 1.125rem -0.25rem rgba(clackd.$brand-black, 0.0875),
			0.125rem 0.125rem 0.25em -0.125rem rgba(clackd.$brand-black, 0.04375),
			0 0 1.5rem -0.5rem rgba(clackd.$brand-black, 0.1);
		height: 100%;
		transform: scale(1.025);
	}
}

@keyframes adjacentSlideOnChange {
	0% {
		animation-timing-function: ease-in-out;
		// height: 100%;
		transform: scale(1.02, 1.015);
	}

	80% {
		animation-timing-function: ease-out;
		// height: 92%;
		transform: scale(1.0125);
	}

	100% {
		animation-timing-function: ease;
		// height: 85%;
		transform: scale(1);
	}
}

@keyframes inactiveSlideOnChange {
	0% {
		animation-timing-function: ease-in-out;
		transform: scale(1);
	}

	80% {
		animation-timing-function: ease-out;
		transform: scale(0.975);
	}

	100% {
		animation-timing-function: ease;
		transform: scale(0.95);
	}
}

@keyframes activateLightbox {
	0% {
		height: 0;
		width: 0;
	}

	20% {
		opacity: 1;
	}

	100% {
		height: 100vh;
		opacity: 1;
		width: 100vw;
	}
}

@keyframes slideOutLeft {
	0% {
		opacity: 0.875;
		transform: translate3d(-7.5%, 0, 0);
	}

	35% {
		opacity: 0.65;
	}

	80% {
		opacity: 0.5;
	}

	100% {
		opacity: 0.5;
		transform: translate3d(-11%, 0, 0);
	}
}

@keyframes slideOutRight {
	0% {
		opacity: 0.875;
		transform: translate3d(7.5%, 0, 0);
	}

	35% {
		opacity: 0.65;
	}

	80% {
		opacity: 0.5;
	}

	100% {
		opacity: 0.5;
		transform: translate3d(11%, 0, 0);
	}
}

.slider-content {
	$base: &;

	left: 0;
	margin: 0 auto;
	max-width: calc(100% - 12.5rem);
	position: relative;
	right: 0;
	width: 100vw;
	z-index: 2;

	&__swiper {
		padding-bottom: 1.875rem;

		.swiper-wrapper {
			align-items: center;
		}
	}
}

.slide-item {
	$base: &;

	&__body {
		aspect-ratio: clackd.$aspect-ratio-deskmat;
		display: flex;
		height: 100%;
		overflow: hidden;
		position: relative;
		transform-origin: center;
		will-change: height, opacity, transform;
		z-index: 6;

		&::after {
			aspect-ratio: clackd.$aspect-ratio-deskmat;
			background-color: clackd.$brand-gray04;
			content: '';
			display: block;
			height: 100%;
			max-width: max-content;
			// opacity: 0;
			opacity: 1;
			position: absolute;
			top: 0;
			transform-origin: center;
			width: 100%;
			z-index: 0;
		}

		& > #{$base}__image,
		& > #{$base}__toggle {
			aspect-ratio: clackd.$aspect-ratio-deskmat;
			box-shadow: 0 0 0 clackd.$brand-black;
			transform-origin: center;
			will-change: opacity, transform;
		}
	}

	&__image {
		height: 100%;
		object-fit: cover;
		position: relative;
		width: auto;
		z-index: 10;
	}

	&__toggle {
		position: relative;
		z-index: 15;
	}
}

.slide-item {
	$base: &;

	align-self: stretch;
	display: flex;
	flex-direction: column;
	height: auto;
	justify-content: center;
	transform-origin: center;
	transition: all 0.3s ease-in-out;

	&.swiper-slide-active {
		// overflow: visible;
		cursor: pointer;
		position: sticky;
		z-index: 13;

		&:hover {
			transform: scale(1.009875);
		}

		#{$base}__body {
			@include mix.output-animations(
				activeSlideOnChange,
				0.9s,
				cubic-bezier(0.42, 0.04, 0.7, 0.41)
					// cubic-bezier(0.48, 0, 0.88, 0.52)
			);
			// animation-delay: 0.05s;
			height: 85%;
			justify-content: center;
			margin: 0 -50%;
			transform: scale(0.975);
			z-index: 10;

			& > #{$base}__image,
			& > #{$base}__toggle {
				@include mix.output-animations(activeSlideOpacity);
				margin: 0 -100%;
				z-index: 15;
			}
		}
	}

	&.swiper-slide-next,
	&.swiper-slide-prev {
		cursor: auto;

		#{$base}__body {
			@include mix.output-animations(adjacentSlideOnChange);
			height: 80%;
			pointer-events: none;
			width: 100%;
		}
	}

	&.swiper-slide-next {
		#{$base}__body {
			justify-content: flex-end;

			& > #{$base}__image,
			& > #{$base}__toggle {
				transform-origin: center right;

				@include mix.output-animations(
					slideOutRight,
					0.8s,
					cubic-bezier(0.6, 0.05, 0.8, 0.65)
				);
				animation-delay: 0.0125s;
			}
		}
	}

	&.swiper-slide-prev {
		#{$base}__body {
			justify-content: flex-start;

			& > #{$base}__image,
			& > #{$base}__toggle {
				transform-origin: center left;

				@include mix.output-animations(
					slideOutLeft,
					0.8s,
					cubic-bezier(0.6, 0.05, 0.8, 0.65)
				);
				animation-delay: 0.0125s;
			}
		}
	}

	&:not(.swiper-slide-active):not(.swiper-slide-next):not(.swiper-slide-prev) {
		#{$base}__body {
			@include mix.output-animations(inactiveSlideOnChange);
			height: 60%;
			pointer-events: none;
			width: 100%;
			z-index: 2;

			&::after {
				opacity: 0.5;
			}

			& > #{$base}__image,
			& > #{$base}__toggle {
				@include mix.output-animations(inactiveSlideOpacity);
			}
		}
	}
}
